//-  Copyright (c) 2019 AT&T Intellectual Property.                             #
//-                                                                             #
//-  Licensed under the Apache License, Version 2.0 (the "License");            #
//-  you may not use this file except in compliance with the License.           #
//-  You may obtain a copy of the License at                                    #
//-                                                                             #
//-      http://www.apache.org/licenses/LICENSE-2.0                             #
//-                                                                             #
//-  Unless required by applicable law or agreed to in writing, software        #
//-  distributed under the License is distributed on an "AS IS" BASIS,          #
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
//-  See the License for the specific language governing permissions and        #
//-  limitations under the License.                                             #
//- #############################################################################


div
  app-page-header([heading]="'Onboarding'", [icon]="'fa-edit'")
  script(src="../../../../../node_modules/codemirror/mode/yaml/yaml.js")
  //- ol.breadcrumb.bg-light
  //-   li.breadcrumb-item
  //-     a(href="#") Onboarding
  //-   li.breadcrumb-item
  //-     a(href="#") Test Heads
  //-   li.breadcrumb-item
  //-     a(href="#") Test Definition
  //-   li.breadcrumb-item.active Test Instances

  .col-12([@routerTransition])
    app-create-test-instance-form([editInstance] = null)
.footer.bg-primary
  .row.p-2
    .col-sm-12
      //- button(mat-raised-button, color="primary", (click)="back()") Back
      //- button.pull-right(mat-raised-button, color="accent", (click)="next()") Finish
