.idea/
-*.swp
-**/*.swp
-*.sw*
-**/node_modules/*
-*.pyc
-__pycache__/
-*.log
-.env
-*.tgz
-*.lock

otf-helm/otf/values.yaml
otf-helm/otf/charts/databases/mysqldb/values.yaml
otf-service-api/helm/otf-service-api/values.yaml

