[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/lf-releng
	owner = group saml/oran-gerrit-it-otf-committers
	read = group GitHub Replication
	push = +force group saml/lf-releng
	forgeCommitter = group saml/lf-releng
	pushMerge = group saml/lf-releng
