apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.appName}}
type: Opaque
data:
  cadi_keyfile: {{ .Files.Get .Values.keyfilePath | b64enc }}
  aaf_id: {{ .Values.Secret.aafId | b64enc}}
  aaf_password: {{ .Values.Secret.aafPassword | b64enc}}
  aaf_mech_password: {{ .Values.Secret.aafMechPassword | b64enc}}
  keyfile_secret_path: {{.Values.Secret.keyfileSecretPath | b64enc}}
