//-  Copyright (c) 2019 AT&T Intellectual Property.                             #
//-                                                                             #
//-  Licensed under the Apache License, Version 2.0 (the "License");            #
//-  you may not use this file except in compliance with the License.           #
//-  You may obtain a copy of the License at                                    #
//-                                                                             #
//-      http://www.apache.org/licenses/LICENSE-2.0                             #
//-                                                                             #
//-  Unless required by applicable law or agreed to in writing, software        #
//-  distributed under the License is distributed on an "AS IS" BASIS,          #
//-  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   #
//-  See the License for the specific language governing permissions and        #
//-  limitations under the License.                                             #
//- #############################################################################


mat-menu(#childMenu='matMenu', [overlapTrigger]='false')
  span(*ngFor='let child of items')
    // Handle branch node menu items
    span(*ngIf='child.children && child.children.length > 0')
      button(mat-menu-item='', color='primary', (click)="sendSelected(child)", [matMenuTriggerFor]='menu.childMenu')
        mat-icon(*ngIf="child.iconName") {{child.iconName}}
        span {{child.displayName}}
      app-menu-item(#menu='', [items]='child.children', (dataEvent)="receiveSelected($event)")
    // Handle leaf node menu items
    span(*ngIf='!child.children || child.children.length === 0')
      button(mat-menu-item='', (click)="sendSelected(child)")
        mat-icon(*ngIf="child.iconName") {{child.iconName}}
        span {{child.displayName}}
